@import 'src/App.scss';

.carousel {
  color: $bg-primary;
  background-color: $bg-secondary;
  background-image: url('https://s3-alpha-sig.figma.com/img/d92e/60fa/f1eafcc65076de7a1d51bc0416146be1?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DyQCmZzu8k15oyvHBSNNSveGpgwxnx-3cBlK6kifigPv-u1bwnezg3b4UncB-ATVQSdr6yN~E84uaPF5ufAtKrZNWTNMM75FIEkCOjwMElKJkZ5ofZ1NSrgG2kxw2OFymPlntwyYyPvIr2xTrgsyfZlgeu50vhunpGv4OipzgODvCQsADuMPeMfEw2wvGG8CjndWSyWy1UOHIhJK5FFW3bztQ2RDdf4elUoQ1lCQcvshhe4XKwGy5TQJUHvVcXNywSFXWBKC513IziRPm2-CE6YJJuIf1lpIuWtj1anI-oczYkgywsdG5s~MgkoOYCt5xFrqW8W4KzHvyv1ahTEwkw__');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  justify-content: space-between !important;
  padding: 0 2rem !important;
  height: 30rem;

  font-family: 'inter';
}

.pro {
  background-color: black;
}

.carouselTitle {
  min-width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slogan {
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.8rem;

  width: 29rem;
  min-height: 12rem;
}

.nike {
  width: 25rem;
  min-height: 2.9rem;

  font-size: 4rem;
  font-weight: 300;
  line-height: 4.8rem;
}

.discount40 {
  width: 18.8rem;
  min-height: 1.8rem;

  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem;
}

.discount40wrapper {
  padding: 0.6rem 1.8rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.onlyWeek {
  width: fit-content;
  min-height: 1rem;

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
}
