.cards {
  display: flex;
  justify-content: space-between;

  width: inherit;
  height: inherit;
  flex-grow: 1;
  border-bottom: 1px solid #343434;

  // margin-top: 2rem;
}

.cardsHeader {
  display: flex;
  width: inherit;
  margin-bottom: 2rem;
}

.green {
  color: #4aaa4e;
}

.cardTypeNProp {
  color: #626262;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.cardImgNButton {
  width: 23rem;
  height: 27rem;

  > * {
    position: absolute;
  }

  > button {
    top: 1rem;
    right: 1rem;
  }
}

.cardImg {
  width: inherit;
  height: inherit;
  object-fit: scale-down;
  object-position: center;
}

.leftArrowTail {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

.cost {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.5rem;
}

.counter {
  margin-left: auto;
}

.card {
  width: fit-content;

  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

.hottestProducts {
  width: 100% !important;
  height: fit-content !important;
}
