.cards {
  display: flex;
  justify-content: space-between;

  width: inherit;
  height: inherit;
  flex-grow: 1;
  border-bottom: 1px solid #343434;
}

.cardsHeader {
  display: flex;
  width: inherit;
  margin-bottom: auto;
}

.cardImg {
  width: 23rem;
  height: 27rem;
  object-fit: scale-down;
  object-position: center;
}

.counter {
  margin-left: auto;
}

.card {
  width: 33%;

  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;

  flex-grow: 1;
}

.hottestProducts {
  width: 100% !important;
  height: fit-content !important;
}
