.mailingList {
  padding: 0 15rem !important;
}

.emailLabel {
  border-radius: 2rem;
  border: 1px solid #343434;
  width: 100%;
}

.emailInput {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.subscribe {
  border-radius: inherit;
}
