.profileImg {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  object-fit: cover;
}

.review {
  padding: 1.5rem;
  border-radius: 1.2rem;
  width: 16rem;
  height: 15rem;
}

.rating {
  width: 3.5rem;
  height: fit-content;
}

.ratingNName {
  margin-left: 1.2rem;
}

.reviewsWrapper {
  justify-content: space-between;
  width: 100%;
}
