.footer {
  margin-top: auto;
  height: fit-content;
}

.bottomFooter {
  margin-top: auto;
  padding: 2rem 11rem;
}

.bottomNav {
  color: inherit;
}

.normalFooter {
  padding: 4rem 11rem;
  border-top: 1px solid #343434;
  > div {
    min-width: 10.6rem;
    min-height: 9.1rem;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.toCustomers {
  margin-left: auto;
}

.about {
  margin-left: 3rem;
}

.personalCabinet {
  margin-left: 3rem;
}
