$bg-primary: white;
$bg-secondary: #343434;

@font-face {
  font-family: 'roboto';
  src: url('src/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: url('src/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter';
  src: url('src/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  > button {
    cursor: pointer;
  }
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;

  background-color: $bg-primary;

  display: flex;
  flex-direction: column;
  > * {
    font-family: 'roboto';
  }
}

.header,
.footer {
  flex-shrink: 0;
  height: 10vh;
  width: 100%;
}

.bg-black {
  background-color: $bg-secondary;
  color: $bg-primary;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.border-black {
  border: 1px solid #343434;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.relative {
  position: relative;
}
