$bg-primary: white;
$bg-secondary: #343434;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  > button {
    cursor: pointer;
  }
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;

  background-color: $bg-primary;

  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-shrink: 0;
  height: 10vh;
  width: 100%;
}

.bg-black {
  background-color: $bg-secondary;
  color: $bg-primary;
}

.category {
  margin-right: 1rem;
  @media (max-width: 700px) {
    margin-right: 0;
  }
  color: inherit;
}

.main {
  min-height: 20vh;
  width: 100%;

  > div {
    width: 100%;
    min-height: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 4rem;
  }
}

.footer {
  margin-top: auto;
}

.hottestProductsHeader {
  display: flex;
  width: inherit;
  margin-bottom: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.border-black {
  border: 1px solid #343434;
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

.bottomFooter {
  margin-top: auto;
  padding: 0 4rem;
}

.bottomNav {
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}

.relative {
  position: relative;
}

.imgWrapper {
  width: 100%;
  height: 10rem;
  overflow: hidden;
}
