$bg-primary: white;
$bg-secondary: #343434;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  > button {
    cursor: pointer;
  }
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;

  background-color: $bg-primary;

  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex-shrink: 0;
}

.header {
  height: 10vh;
  width: 100%;
  > div {
    padding: 0px 5rem;
    @media (max-width: 950px) {
      padding: 0px 0px;
    }
  }
}

.headerTop {
  height: 50%;
  width: 100%;

  background-color: $bg-secondary;

  color: $bg-primary;

  display: flex;
  align-items: center;

  > button {
    color: $bg-primary;
    &:hover {
      background-color: $bg-primary;
      color: $bg-secondary;
    }
  }
}

.nav {
  height: 50%;
  width: 100%;

  display: flex;
  align-items: center;

  > button {
    width: fit-content;
  }
}

.category {
  margin-right: 1rem;
  @media (max-width: 700px) {
    margin-right: 0;
  }
}

.logo {
  margin-right: 4rem;
  @media (max-width: 750px) {
    margin-right: 0;
  }
}

.login {
  margin-left: auto;
}

.help {
  margin-left: 2rem;
}

.search {
  height: 100%;

  margin-left: auto;

  display: flex;
  align-items: center;

  > input {
    width: 5rem;
    height: 100%;
  }
}

.main {
  height: 20vh;
  width: 100%;
}

.footer {
  height: 10vh;
  width: 100%;

  // position: relative;
  margin-top: auto;
  clear: both;

  // bottom: 0;
}
